
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.nav {
	width: 100%;
	height: 4vw;
	background-color: #fff;
	border-bottom: 4px solid #fafafa; 
	position: relative;
}

.main-section {
	display: flex;
}

.main {
	width: 70%;
	height: 45vw;
	background-color: #fff;
}

.sidebar {
	background-color: #fff;
	width: 40%;
	height: 45vw;	
}

.search {
	width: 39vw;
	margin-left: 25%;
	margin-top: 1%; 
	border: 1px solid gray;
	padding: 0.5vw;
	height: 1vw; 
}

.search-button {
	position: relative;
	left: -0.1%;
	width: 4vw;
	height: 2.1vw;
	border: 1px solid gray;
}

.video {
	margin: 1.3vw auto;
	display: block;
	margin-bottom: 0;
	width: 58vw;
	height: 32.75vw;
}

.yt {
	position: absolute;
	width: 6%;
	top: 50%;
	transform: translateY(-50%); 
	margin-left: 6%;
}

.sidebar div {
	margin-top: 1.3vw;
	font-size: 1.15vw;
}

.video1 {
	width: 90%;
	height: 20%;
	margin-bottom: 1.3vw; 
}

.video1 h2 {
	margin-bottom: 0.7vw;
	letter-spacing: -0.4px;
}

.video1 img {
	float: left;
	margin-right: 2%; 
	width: 12.8vw;
}

.video1 span {
	color: rgba(17,17,17,0.6);
	font-size: 1vw;
	line-height: 1.4vw;
}

.time {
	position: absolute;
	padding: 2px 4px;
	background-color: black;
	color: white;
	top: 12vw;
	right: 24%;
}

#vid1 {
	border-bottom: 1px solid #ededed;
}

#vid2 {
	margin: 0;
	height: 17%;
}

.vid-title {
	width: 93.5%;
	margin: 0 auto;
	margin-top: 20px;
	height: 11%;
	border-bottom: 1px solid #ededed;
}

.vid-title span {
	display: block;
}

.views {
	color: rgba(17,17,17,0.6);
	font-size: 0.95rem;
}

.vid-description {
	width: 58vw;
	margin: 0 auto;
	margin-top: 20px;
	height: 19%;
	margin-bottom: 5%;
	border-bottom: 1px solid #ededed; 
}

.vid-description img {
	border-radius: 100%;
	float: left;
}

.vid-description span {
	font-size: 0.8rem;
	margin-left: 1%;
	line-height: 130%;
	color: rgba(17,17,17,0.6);
	position: absolute;
	margin-top: 0.5%;
}

#channel {
	color: black;
	font-weight: bold;
}

.subscribe {
	height: 1vw;
	width: 10vw;
	background-color: red;
	display: inline;
	position: relative;
	float: right;
	padding: 1vw 1.2vw;
	color: white;
	font-weight: bold;
	font-size: 1vw; 
}

.subscribe span {
	font-weight: inherit;
	font-size: inherit; 
	color: rgba(255,255,255,0.85);
	margin-top: 0;
	line-height: 1;	
	margin-left: 3%;
}

#category, #category-name {
	position: unset;
	display: inline-block;
	margin-top: 5%;
	margin-left: 1.7%;
	margin-right: 10%; 
}

#category-name {
	font-weight: bold;
	color: blue;
}
